<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Novena- Health & Care Medical template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="/plugins/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

</head>

<body id="top">
<div th:replace="~{/fragmentos/header :: header}">
</div>


<!-- Slider Start -->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">SOLUCIÓN PARA EL CUIDADO DE LA SALUD TOTAL</span>
					<h1 class="mb-3 mt-3">Su Socio De Salud Más Confiable</h1>
					
					<p class="mb-4 pr-5"> Queremos lograr, con trato amable, que más peruanos vivan sanos para conquistar sus sueños.</p>
					<div class="btn-container ">
						<a href="#cita" class="btn btn-main-2 btn-icon btn-round-full">Hacer una cita <i class="icofont-simple-right ml-2  "></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<span>Servicio 24 horas</span>
						<h4 class="mb-3">Cita en línea</h4>
						<p class="mb-4">Obtenga apoyo de tiempo completo para emergencias. Hemos introducido el principio de la medicina familiar.</p>
						<a href="#cita" class="btn btn-main btn-round-full">Hacer una Cita</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<span>Cronograma de tiempo</span>
						<h4 class="mb-3">Horas de trabajo</h4>
						<ul class="w-hours list-unstyled">
		                    <li class="d-flex justify-content-between">Dom - Mié : <span>8:00 - 17:00</span></li>
		                    <li class="d-flex justify-content-between">Jue - Vie : <span>9:00 - 17:00</span></li>
		                    <li class="d-flex justify-content-between">Sábado - Domingo : <span>10:00 - 17:00</span></li>
		                </ul>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
						</div>
						<span>Casos de Urgencia</span>
						<h4 class="mb-3">1-800-700-6200</h4>
						<p>Obtenga apoyo de tiempo completo para emergencias. Hemos introducido el principio de la medicina familiar. Conéctese con nosotros para cualquier urgencia.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="/images/about/img-1.jpg" alt="" class="img-fluid">
					<img src="/images/about/img-2.jpg" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="/images/about/img-3.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Cuidado Personal <br>y Vida Saludable</h2>
					<p class="mt-4 mb-5">Brindamos el mejor servicio médico líder.</p>

					<a href="service.html" class="btn btn-main-2 btn-round-full btn-icon">Servicios<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3">58</span>k
						<p>Personas Felices</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3">700</span>+
						<p>Cirugías Completas</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3">40</span>+
						<p>Médicos Expertos</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-globe"></i>
						<span class="h3">20</span>
						<p>Sucursales</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Atención al paciente galardonada</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Contamos con los más altos estándares de atención, por eso tenemos el equipamiento adecuado a tus necesidades.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Servicios de laboratorio</h4>
					</div>

					<div class="content">
						<p class="mb-4">Nos enfocamos en la prevención, diagnóstico y tratamiento de enfermedades infecciosas causadas por bacterias, virus, hongos y parásitos.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-heart-beat-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Cardiopatía</h4>
					</div>
					<div class="content">
						<p class="mb-4">Cuidamos de tu corazón, de las arterias y venas de tu sistema cardiovascular.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-tooth text-lg"></i>
						<h4 class="mt-3 mb-3">Cuidado dental
						</h4>
					</div>
					<div class="content">
						<p class="mb-4">Cuidamos tu salud y estética bucal para que tengas una sonrisa radiante.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-crutch text-lg"></i>
						<h4 class="mt-3 mb-3">Cirugía corporal</h4>
					</div>

					<div class="content">
						<p class="mb-4">Diagnosticamos y tratamos enfermedades mediante cirugía mínimamente invasiva (cirugía laparoscópica), tanto programadas como de emergencia.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-brain-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Neurología</h4>
					</div>
					<div class="content">
						<p class="mb-4">Diagnosticamos y tratamos los problemas relacionados al cerebro y a todo tu sistema nervioso.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-dna-alt-1 text-lg"></i>
						<h4 class="mt-3 mb-3">Ginecología</h4>
					</div>
					<div class="content">
						<p class="mb-4">Diagnosticamos, tratamos y hacemos prevención y control del aparato reproductor de la mujer.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section appoinment" id="cita">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 ">
				<div class="appoinment-content">
					<img src="/images/about/img-3.jpg" alt="" class="img-fluid">
					<div class="emergency">
						<h2 class="text-lg"><i class="icofont-phone-circle text-lg"></i>+51 936 985 217</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Reservar Cita</h2>
					<p class="mb-4">Reserva tu cita de manera fácil, rápida y segura desde nuestra web</p>
				<form th:action="@{/cita}" class="appoinment-form" method="get" >
                    <div class="row">
                         <div class="col-lg-6">
                            <div class="form-group">
                                <select id="sede" name="sede" class="form-control" required>
									<option value="">Seleccione una sede</option>
									<option th:each="sede : ${sedes}" th:value="${sede.sedeId}" th:text="${sede.nombSede}"></option>
								</select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select id="especialidad" name="especialidad" class="form-control" required>
									<option value="">Seleccione una especialidad</option>
									<option th:each="especialidad : ${especialidades}" th:value="${especialidad.especialidadId}" th:text="${especialidad.nombEspe}"></option>
								</select>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-main btn-round-full" href="../paciente/cita.html" >Hacer una Cita <i class="icofont-simple-right ml-2  "></i></button>
                </form>
            </div>
			</div>
		</div>
	</div>
</section>
<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Atendemos a más de 5000 pacientes</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Contamos con los más altos estándares de atención, por eso tenemos el equipamiento adecuado a tus necesidades.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 testimonial-wrap-2">
				<div class="testimonial-block style-2  gray-bg">
					<i class="icofont-quote-right"></i>

					<div class="testimonial-thumb">
						<img src="/images/team/pac2.png" alt="" class="img-fluid">
					</div>

					<div class="client-info ">
						<h4>¡Excelente servicio!</h4>
						<span>Monica Almeyda</span>
						<p>
							También tuve una hermosa experiencia en la clínica. Desde las citas prenatales hasta después de nacido mi bebé. Mi embarazo fue riesgoso, pero gracias a Dios y la ayuda del doctor tuve parto normal. Recomiendo mucho la clínica.
						</p>
					</div>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="/images/team/pac1.png" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>¡Médicos expertos!</h4>
						<span>Walter Luna</span>
						<p>
							Hasta el momento la mejor clínica que se ha atendido mi hijo y sus instalaciones son perfectos, la calidad de doctores y personal que trabajan ahí son muy amables. Sigan así que eso los hacen diferente a las demás clínicas.
						</p>
					</div>
					
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="/images/team/pac3.png" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>¡Buen soporte!</h4>
						<span>Glady Ulloa</span>
						<p>
							Siempre me atiendo allí y es muy buena: Calidad de atención, médicos e infraestructura.
						</p>
					</div>
					
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="/images/team/pac4.png" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>¡Bonito ambiente!</h4>
						<span>Daniel Herrera</span>
						<p class="mt-4">
							Es una clínica A1 y brindan un servicio muy bueno con trato amable.
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section clients">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Socios que nos apoyan</h2>
					<div class="divider mx-auto my-4"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row clients-logo">
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/images/about/1.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/images/about/2.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/images/about/3.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/images/about/4.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/images/about/5.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/images/about/6.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="images/about/3.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/images/about/4.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/images/about/5.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/images/about/6.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>

<div th:replace="~{/fragmentos/footer :: footer}">
</div> 

    <script src="/plugins/jquery/jquery.js"></script>
 
    <script src="/plugins/bootstrap/js/popper.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/counterup/jquery.easing.js"></script>

    <script src="/plugins/slick-carousel/slick/slick.min.js"></script>
 
    <script src="/plugins/counterup/jquery.waypoints.min.js"></script>
    
    <script src="/plugins/shuffle/shuffle.min.js"></script>
    <script src="/plugins/counterup/jquery.counterup.min.js"></script>
  
    <script src="/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="/js/script.js"></script>
    <script src="/js/contact.js"></script>

  </body>
  </html>
   